/* ==========================================================================
   Default skin
   ========================================================================== */

// make the text darker (default was pretty grayish)
$text-color: #212121;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
